@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap");
/* 
light 300
regular 400
medium 500
semibold 600
bold 700
*/

:root {
  --clr-primary-dark-blue: #353542;
  --clr-primary-darker-blue: #2D2D38;
  --clr-primary-white: #FEFEFE;
  --clr-primary-grey: #CECED8;

  --clr-accent-yellow: #FEB837;
  --clr-accent-light-blue: #48485A;

  --font-primary: "League Spartan";
  --font-accent: "Courier Prime";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-primary-dark-blue);
  margin: 0;
}

main {
  width: 75%;
  max-width: 1512px;
  margin-right: auto;
  margin-left: auto;
}

/* Navbar */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.menu li a {
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  color: var(--clr-primary-white);
}

/* LOGO */

.logo img {
  width: 42px;
  height: auto;
}

.logo a {
  cursor: pointer;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu a {
  font-family: var(--font-accent), Courier;
  font-size: 16px;
  color: #9898AD;
}

.text-yellow {
  color: var(--clr-accent-yellow);
  font-weight: 400;
}

.menu a:hover {
  color: var(--clr-accent-yellow);
  transition: 0.3s ease;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media only screen and (min-width:600px) and (max-width:801px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  footer {
    height: 10vh;
  }

  .footer-list {
    opacity: 0%;
  }
}

/* main body */

.landing-page {
  height: 95vh;
  margin-bottom: 0;

}

.lp-greet {
  font-family: var(--font-accent), Courier;
  color: var(--clr-primary-grey);
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.lp-name {
  font-family: var(--font-primary), Courier;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--clr-primary-white);
  font-size: 70px;
  margin-top: 18px;
  margin-bottom: 0;
}

.lp-profile-desc {
  font-family: var(--font-primary), Courier;
  color: var(--clr-primary-grey);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.2px;
  margin-top: 18px;
  margin-bottom: 0;
}

.lp-cta {
  font-family: var(--font-accent), Courier;
  color: var(--clr-accent-yellow);
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 40px;
  cursor: pointer;
}

.lp-arrow-right {
  width: 17px;
  height: auto;
  margin-left: 1em;
}

.lp-img-social {
  width: 48px;
  height: auto;
  margin-right: 1em;
}

.landing-page-bio {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* 
About Me
*/
.bio {
  margin-top: 0;
}

.bio h2 {
  font-family: var(--font-primary), Courier;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--clr-primary-white);
  font-size: 34px;
  margin-bottom: 3em;
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 970px) {
  .split {
    flex-direction: row;
  }

  .split>* {
    flex-basis: 100%;
  }

  .split>*+* {
    margin-left: 2em;
  }

  .bio-about-me {
    margin-left: -2em;
  }
}

.bio-photo {
  width: 358px;
  height: auto;
  margin-bottom: 2em;
}

.bio-description {
  font-family: var(--font-primary), Courier;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 25px;
  color: var(--clr-primary-grey);
  font-size: 22px;
}

.bio-description a {
  color: var(--clr-accent-yellow);
}

.bio-description a:hover {
  text-decoration: underline;
}

.bio-cta {
  margin-top: 3em;
}

.bio-cta a {
  font-family: var(--font-accent), Courier;
  color: var(--clr-accent-yellow);
  font-size: 18px;
  margin-top: 2.5em;
}

.bio-arrow-download {
  width: 17px;
  height: auto;
  margin-left: 1em;
}

/* 
Experience
*/

.experience {
  min-height: 80vh;
  margin-top: 10em;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.experience h2 {
  font-family: var(--font-primary), Courier;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--clr-primary-white);
  font-size: 34px;
  margin-bottom: 2em;
}

.split-25 {
  max-width: 25%;
  padding: 0%;
}

.split-25 ul {
  padding-left: 0;
  padding-top: 0;
}

.split-75 h3 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  color: var(--clr-primary-white);
  letter-spacing: 1.2px;
}

.split-25 li {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 20px;
  color: var(--clr-primary-grey);
  margin-bottom: 0;
  border-left: 2px solid var(--clr-primary-grey);
  padding: 1em 1em;
  cursor: pointer;
}

.border-yellow {
  border-left: 2px solid var(--clr-accent-yellow) !important;
  background-color: var(--clr-accent-light-blue);
  color: var(--clr-accent-yellow) !important;
}

.experience-date {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 18px;
  color: var(--clr-primary-grey);
  margin-top: -0.8em;
}

.experience-company-desc {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: var(--clr-primary-white);
  letter-spacing: 1.2px;
}

.experience-container {
  display: flex;
  align-items: baseline;
  margin-top: -1.2em;
}

.experience-detail p {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: var(--clr-primary-grey);
  letter-spacing: 1.2px;
}

.bullet-arrow img {
  width: auto;
  height: 14px;
  margin-right: 1em;
}

/* 
Tech stack
*/

.tech-stack h2 {
  font-family: var(--font-primary), Courier;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--clr-primary-white);
  font-size: 34px;
  margin-bottom: 2em;
  margin-top: 3em;
  text-align: center;
}

.tech-logo-container {
  background-color: var(--clr-accent-light-blue);
  min-width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.tech-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 100%;
  align-items: center;
}

.tech-logo-container img {
  width: 70px;
  height: auto;
  /* background-color: cyan; */
}

.tech-img {
  /* background-color: bisque; */
  margin-left: 0;
  text-align: center;
}

.img-php {
  width: 100px !important;
  height: auto !important;
}

.img-docker {
  width: 125px !important;
  height: auto;
}

.img-git {
  width: 144px !important;
  height: auto;
}

.img-elastic {
  width: 180px !important;
  height: auto;
}

.img-postgre {
  width: 105px !important;
  height: auto;
}

/* 
Contact me
*/

.contact-me {
  margin-top: 12em;
  /* background-color: cadetblue; */
}

.what-next {
  font-family: var(--font-accent);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--clr-accent-yellow);
  text-align: center;
  margin-bottom: -0.4em;
}

.contact-me h2 {
  font-family: var(--font-primary), Courier;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--clr-primary-white);
  font-size: 46px;
  text-align: center;
}

.contact-me-desc-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  padding-top: 0;
}

.contact-me-desc {
  text-align: center;
  width: 70%;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 300;
  color: var(--clr-primary-grey);
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: -0.5em;
}

.contact-btn {
  text-align: center;
  margin-top: 4em;
}

.btn-hello {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-accent-yellow);
  text-align: center;
  background-color: transparent;
  border-color: var(--clr-accent-yellow);
  padding: 20px 27px;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}

/* 
Footer
*/

footer {
  height: 20vh;
  background-color: var(--clr-primary-darker-blue);
  margin-top: 18em;
  margin-bottom: 0px;
  padding-top: 2em;
  position: relative;
}

.footer-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 42px;
  height: auto;
}

.footer-container {
  position: absolute;
  align-items: center;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -20%);
}

.footer-container p {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 16px;
  color: var(--clr-primary-grey);
  text-align: center;
}

.footer-container img {
  width: 19px;
  height: auto;
  margin-left: 3px;
}

.footer-github {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.footer-github-icon {
  width: 1rem;
  height: 1rem;
  color: var(--clr-accent-yellow);
}


/* Back to top button */

.back-to-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  border-radius: 100%;
  background: var(--clr-accent-light-blue);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: var(--clr-accent-yellow);
}

/* 
Responsive ipad
*/

@media only screen and (min-width:601px) and (max-width:969px) {
  .experience {
    width: 100%;
  }

  .border-yellow {
    border-bottom: 2px solid var(--clr-accent-yellow) !important;
    border-left: none !important;
    background-color: var(--clr-accent-light-blue);
    color: var(--clr-accent-yellow) !important;
  }

  .split-25 li {
    border-bottom: 2px solid var(--clr-primary-grey);
    border-left: none;
  }

  .split-25 {
    max-width: 100%;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    align-items: baseline;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4C566E;
    border-radius: 10px;
  }
}

/* 
Rensponsive Mobile
 */

@media only screen and (min-width:150px) and (max-width:600px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .lp-profile-desc {
    width: 90%;
  }

  .lp-greet {
    font-family: var(--font-accent), Courier;
    font-weight: 400;
    color: var(--clr-primary-grey);
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .lp-name {
    font-family: var(--font-primary), Courier;
    font-weight: 600;
    color: var(--clr-primary-white);
    font-size: 34px;
    letter-spacing: 3px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .lp-profile-desc {
    font-family: var(--font-primary), Courier;
    font-weight: 400;
    color: var(--clr-primary-grey);
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 22px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .lp-cta {
    font-size: 18px;
    letter-spacing: 1.2px;
    margin-top: 55px;
    margin-bottom: 30px;
  }

  .lp-arrow-right {
    width: 15px;
    height: auto;
    margin-left: 1em;
  }

  .lp-img-social {
    width: 40px;
    height: auto;
    margin-right: 1em;
  }

  .bio h2 {
    font-size: 28px;
  }

  .bio-photo {
    width: 220px;
    height: auto;
  }

  .bio-description {
    font-size: 18px;
  }

  .bio-cta a {
    font-size: 16px;
  }

  .experience {
    width: 100%;
  }

  .experience h2 {
    font-size: 28px;
  }

  .split-25 {
    max-width: 100%;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .split-75 h3 {
    font-size: 20px;
  }

  .experience-date {
    font-size: 16px;
  }

  .experience-company-desc {
    font-size: 17px;
  }

  .experience-detail p {
    font-size: 16px;
  }

  .border-yellow {
    border-bottom: 2px solid var(--clr-accent-yellow) !important;
    border-left: none !important;
    background-color: var(--clr-accent-light-blue);
    color: var(--clr-accent-yellow) !important;
  }

  .split-25 li {
    border-bottom: 2px solid var(--clr-primary-grey);
    border-left: none;
    font-size: 16px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4C566E;
    border-radius: 10px;
  }

  .tech-stack h2 {
    font-size: 28px;
  }

  .what-next {
    font-size: 18px;
  }

  .contact-me h2 {
    font-size: 34px;
  }

  .contact-me-desc {
    width: 100%;
  }

  .contact-me-desc {
    font-size: 16px;
  }

  .btn-hello {
    font-size: 14px;
    padding: 20px 27px;
  }

  footer {
    height: 20vh;
  }

  .footer-container {
    width: 100%;
  }

  .footer-container p {
    text-align: center;
    font-size: 14px;
  }

  .footer-list {
    display: none;
  }
}