@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap');
/* 
light 300
regular 400
medium 500
semibold 600
bold 700
*/


body {
  width: 80%;
  max-width: 1512px;
  margin-right: auto;
  margin-left: auto;
  background-color: #353542;
}

.landing-page {
  height: 100vh;
}

.lp-greet {
    font-family: 'Courier Prime', Courier;
    color: #CECED8;
    font-size: 22px;
    margin-bottom: 0;
}

.lp-name {
    font-family: 'League Spartan', Courier;
    font-weight: 700;
    color: #FEFEFE;
    font-size: 70px;
    margin-top: 18px;
    margin-bottom: 0;
}

.lp-profile-desc {
    font-family: 'League Spartan', Courier;
    color: #CECED8;
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 0;
}

.lp-cta {
    font-family: 'Courier Prime', Courier;
    color: #FEB837;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.lp-arrow-right {
  width: 17px;
  height: auto;
  margin-left: 1em;
}

.lp-img-social {
    width: 48px;
    height: auto;
    margin-right: 1em;
  }

.landing-page-bio {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
